@model PilotSmithApp.UserInterface.Models.StateViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "State is missing", @onchange = "$('#hdnStateCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "State is missing", @onchange = "$('#hdnStateCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddStateMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnStateCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnStateCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddStateMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("StateCode", Model.StateSelectList, "--Select State--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("StateCode", Model.StateSelectList, "--Select State--", SelectListattributes)
}

@Html.ValidationMessage("StateCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        try {
            debugger;
            var parent = '#' + _parentFormID + " ";
            if (parent[0]) {

                $(parent + '#StateCode').val($(parent + ' #hdnStateCode').val());
                $(parent + '#StateCode').select2({
                    dropdownParent: $(parent + '.divCountrySelectList')
                });
                $('.select2').addClass('form-control newinput');
                //State Code on change
                $(parent + '#StateCode').change(function () {
                    debugger;
                    //$('#dropLoad').addClass('fa fa-spinner fa-spin');
                    $(parent + ' #hdnDistrictCode').val('');
                    var stateCode = this.value;

                    if ($(parent + '.divDistrictSelectList')[0]) {
                        $(parent + '.divDistrictSelectList').load('District/DistrictSelectList?stateCode=' + stateCode + '&required=' + $('#hdnDistrictRequired').val(), function () {
                            debugger;
                            $('#CustomerForm #DistrictCode').change(function () {
                                $(parent + ' #AreaCode').val('');
                                $(parent + ' #hdnAreaCode').val('');
                                if (_parentFormID === 'CustomerForm') {
                                    if (this.value !== "")
                                        DistrictCodeOnChange();
                                }
                            });
                        });
                    }
                    if ($(parent + '.divAreaSelectList')[0]) {
                        $(parent + '.divAreaSelectList').load('Area/AreaSelectList?stateCode=' + stateCode + '&required=' + $('#hdnAreaRequired').val(), function () {
                            debugger;
                            $('#CustomerForm #AreaCode').change(function () {
                                if (_parentFormID === 'CustomerForm') {
                                    if (this.value !== "")
                                        AreaCodeOnChange();
                                }
                            });
                        });
                    }
                    $(parent + ' #hdnStateCode').val(this.value);
                    //else {
                    //    $('.divDistrictSelectList').empty();
                    //    $('.divDistrictSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                    //}
                    //$('.divAreaSelectList').empty();
                    //$('.divAreaSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                });
            }


        }
        catch (e) {
            console.log(e.message);
        }
    });
</script>