@using PilotSmithApp.UserInterface.App_Start
@using PilotSmithApp.UserInterface.Models

@model PilotSmithApp.UserInterface.Models.DocumentApprovalViewModel

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/DocumentApproval/ApprovalHistory")
}

<div style="min-height:400px">
    <section class="content-header">
        <h1>
            Approval History
        </h1>

        @Html.HiddenFor(model => model.DocumentID, htmlAttributes: new { @class = "", Value = @ViewBag.DocumentID })
        @Html.HiddenFor(model => model.DocumentType, htmlAttributes: new { @class = "", Value = @ViewBag.DocumentType })

    </section><br />
    <section class="content">
        <div class="row" style="max-height:80vh;overflow-y: scroll;">
            <div class="col-md-12">

                <div class="row tableContainer">
                    <div class="col-md-12">
                        <table id="tblApprovalHistory" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" width="80%">
                            <thead>
                                <tr class="text-center TableHead">
                                    <th>Approver</th>
                                    <th>Level</th>
                                    <th>Date</th>
                                    <th>Remarks</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        debugger;
        BindApprovalHistoryTable();
    })
</script>
