@using PilotSmithApp.DataAccessObject.DTO
@using PilotSmithApp.UserInterface.App_Start
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href=@Url.Content("~/Content/images/logoPS.png") />    
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/AdminLTE/css/plugins")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/bootstrapdatepicker")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/boot")
    @RenderSection("styles", required: false)
     
</head>
<body class="hold-transition skin-green-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/images/logo2.png" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Content/images/logo1.png" /></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-fixed-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <span class="main-header title" >@ViewBag.Title</span>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        @*<li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">0</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have 0 messages</li>
            <li>

            </li>

        </ul>
    </li> 
    *@
    
    <!-- Tasks: style can be found in dropdown.less -->
    @* <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">0</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have 0 tasks</li>
            <li>
                 inner menu: contains the actual data

            </li>

        </ul>
    </li>*@
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-user" aria-hidden="true"></i>
                                <span class="hidden-xs"><strong>@User.Identity.Name</strong></span>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Menu Body -->
                                <li class="user-body">
                                   @{
                                       if (Session["AppUA"] != null)
                                       {
                                        AppUA _appUA = Session["AppUA"] as AppUA;
                                        <span>Role : @_appUA.RolesCSV </span>
                                       }


                                }
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Account/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        @*<li>
                              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
       @Html.Action("_MenuNavBar", "DynamicUI")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin-top:4%;min-height:88vh!important;">
            <div class="container-fluid">
                @RenderBody()

            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">

            <strong> &copy; <a href="http://thrithvam.com">Thrithvam Tehnology</a>
             @{
                if (Session["AppUA"] != null)
                {
                    AppUA _appUA = Session["AppUA"] as AppUA;
                    <span style="position: relative;left: 55%;color: #000000;">⏲ Last Login Time: @_appUA.LoginDateTime.ToString("dd-MMM-yyyy HH:MM:ss") </span>
                }


            }</strong>
        </footer>
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- Master add/edit Model start-->
    @*<div class="modal fade"  tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width:550px !important;max-width:600px !important;">
            <div class="modal-content">
                <div class="modal-header" style="background-image: url('content/images/73a6f1c8.png');background-repeat: repeat;height: 36px;padding: 3px;border-bottom:2px solid rgb(40, 45, 51)!important;">
                    <div class="container-fluid" style="padding-right: 0px;">
                        <div class="col-md-12">
                            <h3 class="modal-title SCHeader col-md-10" id="h3ModelMasterContextLabel"></h3>
                            <a class="close" data-dismiss="modal" aria-label="Close"><i style="font-size:33px;color:rgb(40, 45, 51)!important;" class="fa fa-times-circle" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="padding:0" id="divMasterBody">

                </div>
                <input type="hidden" id="hdnMasterCall" value="" />
            </div>
        </div>
    </div>*@
    <div class="modal fade" id="divModelMasterPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="clearfix" style="background-color:#068a78;">
                <div class="col-md-10 no-right-padding" style="background-color:white">
                    <div class="modal-header text-center">
                        <label style="font-size:16px;" id="lblModelMasterContextLabel">Customer Information</label>
                        <input type="hidden" id="hdnMasterCall" value="" />
                    </div>
                    <div class="no-padding" id="divMasterBody">

                    </div>
                </div>
                <div class="col-md-2" style="font-size: 90px;color: white;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;font-size: 2em;">&times;</span>
                    </button>
                    <label style="transform: rotate(20deg)"><i class="fas fa-chess-king"></i></label>
                </div>

                </div>
                
            </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="RedirectToLoginModel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div style="padding-top:15px;">

                    @*<div class="sa-icon sa-custom" style="display: block; background-image: url(&quot;Content/images/hourglass.jpg&quot;);width:80px; height:80px"></div>*@
                    <div class="thumbnail" style="border:none; -webkit-box-shadow:none;box-shadow:none;">

                        @*<img src="Content/images/hourglass.png" alt="...">*@

                        <img src=@Url.Content("~/Content/images/hourglass.png") alt="">
                        <div class="caption" style="text-align:center;padding:0px;">
                            <h1 style="color:#b50808;">Session Expired!</h1>
                            <p style="font-size:14px;">Please Sign in again</p>
                        </div>
                    </div>

                </div>
                <div style="border-top: none;text-align: center;padding-bottom: 15px;">
                    <a href="@Url.Action("Logout","Account")" class="btn btn-success">Sign in</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Master add/edit Model end -->
    <!-- PRELOADER -->
    <div class="spn_hol" id="divLoader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/bootstrap")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/bootstrapdatepicker")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/AdminLTE")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/userpluginjs")
    @RenderSection("scripts", required: false)
</body>
</html>
