@model PilotSmithApp.UserInterface.Models.CountryViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Country is missing", @onchange = "$('#hdnCountryCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Country is missing", @onchange = "$('#hdnCountryCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddCountryMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnCountryCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnCountryCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddCountryMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("CountryCode", Model.CountrySelectList, "--Select Country--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("CountryCode", Model.CountrySelectList, "--Select Country--", SelectListattributes)
}
@Html.ValidationMessage("CountryCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        debugger;
        $('#CountryCode').val($('#hdnCountryCode').val());
        $('#CountryCode').select2({
            dropdownParent: $('.divCountrySelectList')
        });
        $('.select2').addClass('form-control newinput');
        $('#CountryCode').change(function () {
            if ($('.divStateSelectList') != undefined) {
                $('#dropLoad').addClass('fa fa-spinner fa-spin');
                if (this.value != "") {
                    $('.divStateSelectList').load('State/StateSelectList?countryCode=' + this.value + '&required=' + $('#hdnStateRequired').val())

                }
                else {
                    $('.divStateSelectList').empty();
                    $('.divStateSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                }
                $('.divDistrictSelectList').empty();
                $('.divDistrictSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                $('.divAreaSelectList').empty();
                $('.divAreaSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                $('#hdnStateCode').val('');
                $('#hdnDistrictCode').val('');
                $('#hdnAreaCode').val('');
            }
        });

    });
</script>


