@model PilotSmithApp.UserInterface.Models.CountryViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Country is missing", @onchange = "$('#hdnCountryCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Country is missing", @onchange = "$('#hdnCountryCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddCountryMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnCountryCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnCountryCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddCountryMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("CountryCode", Model.CountrySelectList, "--Select Country--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("CountryCode", Model.CountrySelectList, "--Select Country--", SelectListattributes)
}
@Html.ValidationMessage("CountryCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        try {
            debugger;
            var parent = '#' + _parentFormID + " ";
            if (parent[0]) {

                $(parent + '#CountryCode').val($(parent + '#hdnCountryCode').val());
                $(parent + '#CountryCode').select2({
                    dropdownParent: $(parent + '.divCountrySelectList')
                });
                $('.select2').addClass('form-control newinput');
                //Country Code on change
                $(parent + '#CountryCode').change(function () {
                    debugger;
                    //to remove
                    $(parent + ' #hdnStateCode').val('');
                    $(parent + ' #hdnDistrictCode').val('');
                    $(parent + ' #hdnAreaCode').val(''); 
                    //$('#dropLoad').addClass('fa fa-spinner fa-spin');
                    var countryCode = this.value;

                    if ($(parent + '.divStateSelectList')[0]) {
                        $(parent + '.divStateSelectList').load('State/StateSelectList?countryCode=' + countryCode + '&required=' + $('#hdnStateRequired').val(), function () {
                            $('#CustomerForm #StateCode,#FormCustomerMaster #StateCode').change(function () {
                                $(parent + ' #hdnDistrictCode').val('');
                                $(parent + ' #hdnAreaCode').val('');
                                $(parent + ' #DistrictCode').val('');
                                $(parent + ' #AreaCode').val('');
                                if (_parentFormID === 'CustomerForm' || _parentFormID === 'FormCustomerMaster') {
                                    if (this.value !== "")
                                        StateCodeOnChange();
                                }
                            });
                        });
                    }
                    if ($(parent + '.divDistrictSelectList')[0]) {
                        $(parent + '.divDistrictSelectList').load('District/DistrictSelectList?countryCode=' + countryCode + '&required=' + $('#hdnDistrictRequired').val(), function () {
                            //$('#CustomerForm #DistrictCode').val($('#CustomerForm #hdnDistrictCode').val());
                            $('#CustomerForm #DistrictCode,#FormCustomerMaster #DistrictCode').change(function () {
                                $(parent + ' #hdnAreaCode').val('');
                                $(parent + ' #AreaCode').val('');
                                if (_parentFormID === 'CustomerForm' || _parentFormID === 'FormCustomerMaster') {
                                    if (this.value !== "")
                                        DistrictCodeOnChange();
                                }
                            });
                        });
                    }
                    if ($(parent + '.divAreaSelectList')[0]) {
                        //$('.divAreaSelectList').each(function () {
                        //    if ($(this).closest('form').attr('id') === _parentFormID) {
                        //        console.log(_parentFormID+" Area");
                        //    }
                        //});
                        $(parent + '.divAreaSelectList').load('Area/AreaSelectList?countryCode=' + countryCode + '&required=' + $('#hdnAreaRequired').val(), function () {
                            //$('#CustomerForm #AreaCode').val($('#CustomerForm #hdnAreaCodeCode').val());
                            $('#CustomerForm #AreaCode,#FormCustomerMaster #AreaCode').change(function () {
                                if (_parentFormID === 'CustomerForm' || _parentFormID === 'FormCustomerMaster') {
                                    if (this.value !== "")
                                        AreaCodeOnChange();
                                }
                            });
                        });
                    }
                    $(parent + ' #hdnCountryCode').val(this.value);
                    //else {
                    //    $('.divStateSelectList').empty();
                    //    $('.divStateSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                    //}
                    //$('.divDistrictSelectList').empty();
                    //$('.divDistrictSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                    //$('.divAreaSelectList').empty();
                    //$('.divAreaSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                });
            }

        }
        catch (e) {
            console.log(e.message);
        }
    });
</script>


