@model PilotSmithApp.UserInterface.Models.ProductionQCAdvanceSearchViewModel
@using PilotSmithApp.UserInterface.App_Start
@{
    ViewBag.Title = "Quality Control";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/bootstrapdatepicker")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/select2")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/PSAForms")
}
@{
    List<SelectListItem> EmptySelectList = new List<SelectListItem>();
}

<section class="content" id="main">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">
                <div class="input-group">
                    @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { @class = "form-control newinput", @placeholder = "Search....", @onfocus = "CloseAdvanceSearch()", @onkeypress = "RedirectSearchClick(event,this)" } })
                    <label class="searchicon" for="textbox">
                        <img src="~/Content/images/advace.png" title="Advance search" onclick="$('.divboxASearch').toggle(10);" />
                    </label>
                    <div class="input-group-btn">
                        <button class="btn searchbtn" type="submit" onclick="BindOrReloadProductionQCTable('Search')"><i class="fa fa-search" style="font-size:18px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="btnPatchProductionQCList" style="min-height:25px">

            @{
                @Html.Action("ChangeButtonStyle", "ProductionQC", new { actionType = "List" });
            }
        </div>
    </div>
    <div class="divboxASearch">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">Advance search<button type="button" class="close" onclick="CloseAdvanceSearch()"><span aria-hidden="true">×</span></button></div>
            <div class="form-group col-md-12">
                <div class="col-md-6 no-left-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvFromDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AdvFromDate, new { htmlAttributes = new { @class = "form-control newinput datepicker" } })
                    </div>
                </div>
                <div class="col-md-6 no-right-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvToDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AdvToDate, new { htmlAttributes = new { @class = "form-control newinput datepicker" } })
                    </div>
                </div>

                <div class="col-md-6 no-left-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvCustomerID, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvCustomerID, EmptySelectList, "Select customer", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>
                <div class="col-md-6 no-right-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvAreaCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvAreaCode, EmptySelectList, "Select area", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>
                <div class="col-md-6 no-left-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvPlantCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvPlantCode, EmptySelectList, "Select plant", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>
                <div class="col-md-6 no-right-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvBranchCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvBranchCode, EmptySelectList, "Select branch", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>
                <div class="col-md-6 no-left-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvDocumentStatusCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvDocumentStatusCode, Model.DocumentStatus.DocumentStatusSelectList, "Select document status", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>
                <div class="col-md-6 no-right-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvDocumentOwnerID, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvDocumentOwnerID, EmptySelectList, "Select owner", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>
                <div class="col-md-6 no-left-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvApprovalStatusCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AdvApprovalStatusCode, EmptySelectList, "Select approval status", new { @class = "form-control newinput ", @style = "width:100 % !important" })
                    </div>
                </div>

                <div class="col-md-6 no-right-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AdvEmailSentStatus, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @{
                            List<SelectListItem> EmailStatus = new List<SelectListItem>();
                            EmailStatus.Add(new SelectListItem
                            { Text = "Yes", Value = "1" });
                            EmailStatus.Add(new SelectListItem
                            { Text = "No", Value = "0" });
                        }
                        @Html.DropDownListFor(model => model.AdvEmailSentStatus, EmailStatus, "Select status", new { @class = "form-control newinput ", @style = "width:100 % !important", @id = "AdvEmailSentStatus" })
                    </div>
                </div>


                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12 no-left-padding">
                    <div class="col-md-12">
                        <button class="btn searchbtn" type="submit" onclick="ApplyFilterThenSearch()" style="width: 60px;"><i class="fa fa-search" style="font-size:18px;"></i></button>

                    </div>
                </div>
            </div>
            @Html.Hidden("RedirectToDocument", "", htmlAttributes: new { @class = "", Value = ViewBag.ID });
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
    <div class="row tableContainer">
        <div class="excelExport" style="display:none;"></div>
        <div class="col-md-12">
            <table id="tblProductionQC" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" style="width:100%;display:none;">
                <thead>
                    <tr class="text-center TableHead">                     
                        <th>QC No</th> 
                        <th>Prod.Order No</th>                      
                        <th>Customer</th>
                        <th>Area</th>
                        <th>Supplier/Plant</th>
                        <th>Other Details</th>
                        <th>Status</th>
                        <th>...</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</section>

<section>
    <div id="myNav" class="overlay">
        <div class="overlay-content">
            <div class="row" id="OverlayHeader">
                <div class="col-md-6" style="text-align:left;left:4%;">
                    <span id="lblProductionQCInfo" class="SCHeader">&lt;&lt;ProductionQC No.&gt;&gt;</span>
                </div>
                <div class="col-md-6" id="btnPatchProductionQCNew" style="min-height:25px; padding-right:25px;">

                </div>
            </div>
            <div class="EntryForms" id="divProductionQCForm" style="height:550px">

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="divModelPopProductionQC" tabindex="-1" role="dialog" aria-labelledby="ProductionQC" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:50%;">
        <div class="clearfix" style="background-color:#068a78;background-image:url(/Content/images/patternPop.png)">
            <div class="col-md-10 no-right-padding" style="background-color:white">
                <div class="modal-header text-center">
                    <label style="font-size:16px;" id="lblModelPopProductionQC"></label>
                </div>
                <div class="no-padding" id="divModelProductionQCPopBody">

                </div>
            </div>
            <div class="col-md-2" style="font-size: 90px;color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;font-size: 2em;">&times;</span>
                </button>
                <label style="transform: rotate(20deg)"><i id="iconModelProductionQCPop" class=""></i></label>
            </div>

        </div>

    </div>
</div>
@using (Html.BeginForm("DownloadExcel", "ExcelExport", FormMethod.Post, new { id = "FormExcelExport" }))
{
    @Html.Hidden("AdvanceSearch", null, htmlAttributes: new { @class = "control-label" })
    @Html.Hidden("DocumentType", null, htmlAttributes: new { @class = "control-label", Value = "PQC" })
}
@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")   
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/select2")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJS/AdvanceSelectList")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJS/ProductionQC")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/DocumentApproval/ApprovalHistory")
}