@model PilotSmithApp.UserInterface.Models.ServiceCallDetailViewModel

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "", OnFailure = "", AllowCache = false, LoadingElementId = "", OnBegin = "OnMasterBegin", OnComplete = "OnMasterComplete" }, new { @class = "form-horizontal", role = "form", id = "FormServiceCallDetail" }))
{
    @Html.HiddenFor(model => model.ServiceCallID, htmlAttributes: new { @class = "" })
    @Html.HiddenFor(model => model.IsUpdate, htmlAttributes: new { @class = "" })
    <div class="form-group col-md-12 no-padding">
        <div class="col-md-12 no-padding">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label lblrequired" })
            </div>
            <div class="col-md-12">
                <div class="divProductSelectList">
                    <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"> </i></span>
                    @*@Html.Action("ProductSelectList", "Product", new { required = "required" })*@
                </div>              
            </div>
            <!-- This hidden field will keep the information whether the field is required or not -->
            @Html.Hidden("hdnProductRequired", "required")
            @Html.HiddenFor(model => model.ProductID, htmlAttributes: new { @class = "", @id = "hdnProductID" })
        </div>
        <div class="col-md-12 no-padding">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProductModelID, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                <div class="divProductModelSelectList">
                    <span class="form-control newinput"><i id="dropLoad" class=""></i></span>
                    @*@Html.Action("ProductModelSelectList", "ProductModel", new { required = "required" })*@
                </div>              
            </div>
            <!-- This hidden field will keep the information whether the field is required or not -->
            @Html.Hidden("hdnProductModelRequired", "required")
            @Html.HiddenFor(model => model.ProductModelID, htmlAttributes: new { @class = "", @id = "hdnProductModelID" })
        </div>
        <div id="divProductBasicInfo">
            @Html.Action("ProductBasicInfo", "Product", new { ID = Guid.Empty })
        </div>
        <div class="col-md-12 no-padding">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProductSpec, htmlAttributes: new { @class = "control-label " })
            </div>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.ProductSpec, 4, 0, new { @class = "form-control newinput" })
                @Html.ValidationMessageFor(model => model.ProductSpec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 no-padding">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.GuaranteeYN, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.GuaranteeYN, new { htmlAttributes = new { @class = "form-control newinput" } })
                    @Html.HiddenFor(model => model.GuaranteeYN, htmlAttributes: new { @class = "" })
                </div>
            </div>

            
        <div class="col-md-6 no-padding">
            <div class="col-md-12">
                @Html.LabelFor(model => model.InstalledDateFormatted, htmlAttributes: new { @class = "control-label lblrequired" })
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.InstalledDateFormatted, new { htmlAttributes = new { @class = "form-control datepicker newinput", @id= "InstalledDate" } })
                @*@Html.ValidationMessageFor(model => model.InstalledDateFormatted, "", new { @class = "text-danger" })*@
                @Html.ValidationMessage("InstalledDateFormatted", "InstalledDate Required", new { @class = "text-danger", @style="display:none;", @id= "msgInstalledDate" })
            </div>
        </div>

        <div class="col-md-6 no-padding">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ServiceStatusCode, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                <div class="divDocumentStatusSelectList">
                    <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"> </i></span>
                    @*@Html.Action("DocumentStatusSelectList", "DocumentStatus", new { required = "", code = "EST" })*@
                </div>               
            </div>
            <!-- This hidden field will keep the information whether the field is required or not -->
            @Html.Hidden("hdnDocumentStatusRequired", "")
            @Html.HiddenFor(model => model.ServiceStatusCode, htmlAttributes: new { @class = "", @id = "hdnDocumentStatusCode" })
        </div>

    </div>       
        @*</div>*@
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-default" id="btnAddServiceCallDetail" onclick="AddServiceCallDetailToList()" style="margin-right:3%;margin-top:2%">Add Details <i class="fa fa-spinner fa-spin" id="icnMasterLoading" style="display:none;"></i></button>
        </div>
}
<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#FormServiceCallDetail");
        try {
            $('.divProductSelectList').load('/Product/ProductSelectList?required=' + $('#hdnProductRequired').val(), function () {
                $('#divModelPopServiceCall #ProductID').change(function () {
                    if ($('#divProductBasicInfo') != undefined) {
                        $('#divModelPopServiceCall #divProductBasicInfo').load("Product/ProductBasicInfo?ID=" + (this.value == "" ? '00000000-0000-0000-0000-000000000000' : this.value), function () {
                            $('#divModelPopServiceCall #ProductSpec').val($('#divModelPopServiceCall #spnProductName').text());
                        });
                    }
                    if ($('.divProductModelSelectList') != undefined) {
                        $('#dropLoad').addClass('fa fa-spinner fa-spin');
                        if (this.value != "") {
                            $('.divProductModelSelectList').load("ProductModel/ProductModelSelectList?required=required&productID=" + this.value)
                        }
                        else {
                            $('.divProductModelSelectList').empty();
                            $('.divProductModelSelectList').append('<span class="form-control newinput"><i id="dropLoad" class="fa fa-spinner"></i></span>');
                        }
                    }
                });
            });
            $('.divDocumentStatusSelectList').load('/DocumentStatus/DocumentStatusSelectList?code=SRC&required=' + $('#hdnDocumentStatusRequired').val())
        }
        catch (e) {
            console.log(e.message);
        }
        $('#divModelPopServiceCall #ProductID,#divModelPopServiceCall #UnitCode').select2({
            dropdownParent: $("#divModelPopServiceCall")
        });

        $('.select2').addClass('form-control newinput');
        
        try {
            $('input.datepicker').datepicker({
                format: "dd-M-yyyy",
                maxViewMode: 0,
                todayBtn: "linked",
                clearBtn: true,
                autoclose: true,
                todayHighlight: true
            });
        }
        catch (e) {
            console.log(e.message);
        }
    });
</script>

@*<style>
    .rcorners2 {
        border-radius: 25px;
        border: 1px solid #068a78;
        /*padding: 20px;*/
        width: 500px;
        height: 243px;
    }
</style>*@

