@model PilotSmithApp.UserInterface.Models.CustomerViewModel
<div class="col-md-6 no-padding">
    <div class="col-md-12 box-body">
        <ul class="todo-list ui-sortable">
            <li style="border-bottom: 1px solid grey;padding:5px 10px 5px 10px;">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.CompanyName):</span>
                <!-- todo text -->
                <span>@Model.CompanyName</span>
            </li>

            <li style="border-bottom: 1px solid grey;padding:5px 10px 5px 10px;">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.ContactPerson):</span>
                <!-- todo text -->
                <span id="ContactPerson">@Model.ContactPerson</span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-6 no-padding">
    <div class="col-md-12 box-body">
        <ul class="todo-list ui-sortable">
            <li style="border-bottom: 1px solid grey;padding:5px 10px 5px 10px;">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.ContactEmail):</span>
                <!-- todo text -->
                <span>@Model.ContactEmail</span>
            </li>
            <li style="border-bottom: 1px solid grey;padding:5px 10px 5px 10px;">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.Mobile):</span>
                <!-- todo text -->
                <span>@Model.Mobile</span>
                
            </li>
        </ul>
        @Html.HiddenFor(model => model.BillingAddress, htmlAttributes: new { @class = "", @id = "hdnCustomerBillingAddress" })
        @Html.HiddenFor(model => model.ShippingAddressCus, htmlAttributes: new { @class = "", @id = "hdnCustomerShippingAddress" })
    </div>
</div>
