@model PilotSmithApp.UserInterface.Models.CustomerViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Customer is missing", @onchange = "$('#hdnCustomerID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Customer is missing", @onchange = "$('#hdnCustomerID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddCustomerMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnCustomerID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnCustomerID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddCustomerMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("CustomerID", Model.CustomerSelectList, "--Select customer--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("CustomerID", Model.CustomerSelectList, "--Select customer--", SelectListattributes)
}
@Html.ValidationMessage("CustomerID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        debugger;
        $('#CustomerID').val($('#hdnCustomerID').val());
        $('#CustomerID').select2({});
        $('.select2').addClass('form-control newinput');
        $('#CustomerID').change(function () {
            debugger;
            $('#divCustomerBasicInfo').load("Customer/CustomerBasicInfo?ID=" + this.value, function () {
                $('#MailingAddress').val($('#hdnCustomerBillingAddress').val());
                $('#ShippingAddress').val($('#hdnCustomerShippingAddress').val());
            });
        });
    });
</script>
