@model PilotSmithApp.UserInterface.Models.DistrictViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "District is missing", @onchange = "$('#hdnDistrictCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "District is missing", @onchange = "$('#hdnDistrictCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddDistrictMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnDistrictCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnDistrictCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddDistrictMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("DistrictCode", Model.DistrictSelectList, "--Select District--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("DistrictCode", Model.DistrictSelectList, "--Select District--", SelectListattributes)
}

@Html.ValidationMessage("DistrictCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        try {
            debugger;
            var parent = '#' + _parentFormID + " ";
            if (parent[0]) {

                $(parent + '#DistrictCode').val($(parent + ' #hdnDistrictCode').val());
                $(parent + '#DistrictCode').select2({
                    dropdownParent: $(parent + '.divDistrictSelectList')
                });
                $('.select2').addClass('form-control newinput');
                //District Code on change
                $(parent + '#DistrictCode').change(function () {
                    debugger;
                    $(parent + ' #hdnAreaCode').val('');
                    if ($(parent + '.divAreaSelectList')[0]) {
                        //$('#dropLoad').addClass('fa fa-spinner fa-spin');
                        var districtCode = this.value;

                        $(parent + '.divAreaSelectList').each(function () {
                            $(this).load('Area/AreaSelectList?districtCode=' + districtCode + '&required=' + $('#hdnAreaRequired').val(), function () {
                                debugger;
                                $('#CustomerForm #AreaCode').change(function () {
                                    if (_parentFormID === 'CustomerForm') {
                                        if (this.value !== "")
                                            AreaCodeOnChange();
                                    }
                                });
                            });
                        });
                        $(parent + ' #hdnDistrictCode').val(this.value);
                        //else {
                        //    $('.divAreaSelectList').empty();
                        //    $('.divAreaSelectList').append('<span class="form-control newinput"><i id="dropLoad" class=""></i></span>');
                        //}
                    }
                });
            }

        }
        catch (e) {
            console.log(e.message);
        }
    });
</script>
