@model PilotSmithApp.UserInterface.Models.OtherChargeViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "OtherCharge is missing", @onchange = "$('#hdnOtherChargeCode).val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "OtherCharge is missing", @onchange = "$('#hdnOtherChargeCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddOtherChargeMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnOtherChargeCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnOtherChargeCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddOtherChargeMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("OtherChargeCode", Model.OtherChargeSelectList, "--Select OtherCharge--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("OtherChargeCode", Model.OtherChargeSelectList, "--Select OtherCharge--", SelectListattributes)
}
@Html.ValidationMessage("OtherChargeCode", "", new { @class = "text-danger" })




@*@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("OtherChargeCode", Model.OtherChargeSelectList, "--Select other charge--", new { @class = "form-control newinput", @required = "", @title = "The Other Charge is missing", @style = "width:100%!important", @onchange = "$('#hdnOtherChargeCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddOtherChargeMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("OtherChargeCode", Model.OtherChargeSelectList, "--Select other charge--", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnOtherChargeCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddOtherChargeMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>
}*@

@Html.ValidationMessage("OtherChargeCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#OtherChargeCode').val($('#hdnOtherChargeCode').val());
        $('#OtherChargeCode').select2({
            dropdownParent: $('.divOtherChargeSelectList')
        });
        $('.select2').addClass('form-control newinput');
    });
</script>

