@model PilotSmithApp.UserInterface.Models.EmployeeViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Employee is missing", @onchange = "$('#hdnAttendedByID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Employee is missing", @onchange = "$('#hdnAttendedByID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddEmployeeMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnAttendedByID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnAttendedByID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddEmployeeMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("AttendedByID", Model.EmployeeSelectList, "--Select Employee--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("AttendedByID", Model.EmployeeSelectList, "--Select Employee--", SelectListattributes)
}

@Html.ValidationMessage("AttendedByID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        debugger;
        $('#AttendedByID').val($('#hdnAttendedByID').val());
        $('#AttendedByID').select2({});
        $('.select2').addClass('form-control newinput');
    });
</script>



