@model PilotSmithApp.UserInterface.Models.EmployeeViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Responsible person is missing", @onchange = "$('#hdnResponsiblePersonID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Responsible person is missing", @onchange = "$('#hdnResponsiblePersonID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddEmployeeMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnResponsiblePersonID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnResponsiblePersonID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddEmployeeMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("ResponsiblePersonID", Model.EmployeeSelectList, "--Select responsible person--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("ResponsiblePersonID", Model.EmployeeSelectList, "--Select responsible person--", SelectListattributes)
}

@Html.ValidationMessage("ResponsiblePersonID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ResponsiblePersonID').val($('#hdnResponsiblePersonID').val());
        $('#ResponsiblePersonID').select2({
            dropdownParent: $('.divResponsiblePersonSelectList')
        });
        $('.select2').addClass('form-control newinput');
    });
</script>



