@model PilotSmithApp.UserInterface.Models.PlantViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Plant is missing", @onchange = "$('#hdnPlantCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Plant is missing", @onchange = "$('#hdnPlantCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddPlantMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnPlantCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnPlantCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddPlantMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("PlantCode", Model.PlantSelectList, "--Select plant--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("PlantCode", Model.PlantSelectList, "--Select plant--", SelectListattributes)
}
@Html.ValidationMessage("PlantCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#PlantCode').val($('#hdnPlantCode').val());
        $('#PlantCode').select2({
            dropdownParent: $('.divPlantSelectList')
        });
        $('.select2').addClass('form-control newinput');
        
    });
</script>

