@using PilotSmithApp.UserInterface.App_Start

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="col-md-12"></div>

<div class="col-md-12 DashboardContainer" id="salessummarydiv">

    @{

        @Html.Action("DocumentSummary", "DashBoard");

    }

</div>

<div class="col-md-12 DashboardContainer" id="salessummarydiv">

    @{

        @Html.Action("SalesSummary", "DashBoard");

    }

</div>

<div class="col-md-12" style="padding-top:20px;">
    <div class="col-md-12">
        <div class="form-group " style="text-align:right;float:right!important;">
            <label class="radio-btn-new" onclick="ShowEnquiryFollowupSummary()" style="padding-right:30px;">
                Enquiry Summary By Value
                <input type="radio" name="enquirygroup1" checked="checked">
                <span class="checkmark" title="Enquiry summary by value"></span>
            </label>
            <label class="radio-btn-new" onclick="ShowEnquiryCountSummary()">
                Enquiry Summary By Count
                <input type="radio" name="enquirygroup1">
                <span class="checkmark" title="Enquiry summary by count"></span>
            </label>
        </div>
    </div>
</div>

<div class="col-md-12" id="enqsummaryDiv">

    @{

        @Html.Action("EnquiryValueVsFollowupCountSummary", "DashBoard");

    }

</div>

<div class="col-md-12" id="enqcountDiv">

    @{

        @Html.Action("EnquiryCountSummary", "DashBoard");

    }

</div>

@section scripts{
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJS/DashBoard")

}
