@using PilotSmithApp.UserInterface.App_Start
@using PilotSmithApp.UserInterface.Models

@model PilotSmithApp.UserInterface.Models.ApprovalLogViewModel
<div class="col-md-11 divbox1">
    <div class="col-md-12 divbox2">
        <div class="form-group col-md-12">
            <div class="col-md-6">
                @Html.HiddenFor(model => model.DocumentID, htmlAttributes: new { @class = "", Value = @ViewBag.DocumentID })
                @Html.HiddenFor(model => model.DocumentType, htmlAttributes: new { @class = "", Value = @ViewBag.DocumentType })
                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "", Value = @ViewBag.ApprovalLogID })

                <div id="DocumentSummarydiv" class="col-md-12 no-left-padding">
                    @*Document Summary*@
                    @{
                        try
                        {

                            DocumentSummaryViewModel docSummaryVM = new DocumentSummaryViewModel();
                            docSummaryVM.DocumentID = new Guid(ViewBag.DocumentID);
                            docSummaryVM.DocumentTypeCode = ViewBag.DocumentType;
                            @Html.Action("DocumentSummary", "DocumentApproval", docSummaryVM)

                        }

                        catch (Exception ex)
                        {
                            <p> Document Summary Cannot be loaded</p>
                        }

                    }
                </div>
            </div>
            <div class="col-md-6" style="border-left:2px solid #c6e6e8; min-height:400px">
                <div class="col-md-12 headSeperator"> Approve Document </div>

                <div class="col-md-12 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Remarks, 5, 60, new { @class = "form-control newinput" })
                    </div>

                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-6">
                        <a class="btn btn-success" onclick="ConfirmApproveDocument()" id="btnApproveDocument" style="color:white;font-weight:bold;width:100%"><i class="glyphicon glyphicon-ok"></i> Approve</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-danger" onclick="ConfirmRejectDocument()" id="btnRejectDocument" style="color:white;font-weight:bold;width:100%"><i class="glyphicon glyphicon-remove"></i> Reject</a>
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
                @* Approval History *@
                <div class="col-md-12 no-padding">
                    @Html.Action("ApprovalHistory", "DocumentApproval")
                </div>
            </div> 
        </div>
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>
           
<script>
    $(document).ready(function () {
        LoadApprovalDocument();
    });
</script>


@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/DocumentApproval/ApprovalHistory")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/DocumentApproval/ApproveDocument")
}




