@using PilotSmithApp.UserInterface.App_Start
@using PilotSmithApp.UserInterface.Models

@model PilotSmithApp.UserInterface.Models.ApprovalLogViewModel

@*@{
    ViewBag.Title = "ApproveDocument";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
}*@

@*<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="/DocumentApproval/ViewPendingDocuments?Code=APR&Name=MyApprovals"><i class="fa fa-cogs"></i> My Approvals</a></li>
        <li><a href="/DocumentApproval/ViewPendingDocuments?Code=APR&Name=MyApprovals"><i class="fa fa-cogs"></i> Pending Documents</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>*@
<section class="content">
        <div class="row" id="" style="min-height:25px">
            @{
                var data = new { actionType = "Back" };
                @Html.Action("ChangeButtonStyle", "DocumentApproval", data);
            }
        </div>
    <div class="row tableContainer">
        @*<div class="col-md-12 headSeperator"><i class="fa fa-th ig-aqua" aria-hidden="true"></i> Approve Document </div>*@
       
        <div class="col-md-12">
            <div class="col-md-6">
                @Html.HiddenFor(model => model.DocumentID, htmlAttributes: new { @class = "", Value = @ViewBag.DocumentID })
                @Html.HiddenFor(model => model.DocumentType, htmlAttributes: new { @class = "", Value = @ViewBag.DocumentType })
                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "", Value = @ViewBag.ApprovalLogID })

               
                <div id="DocumentSummarydiv" class="col-md-12">
                    @*Document Summary*@
                    @{
                        try
                        {

                            DocumentSummaryViewModel docSummaryVM = new DocumentSummaryViewModel();
                            docSummaryVM.DocumentID = new Guid(ViewBag.DocumentID);
                            docSummaryVM.DocumentTypeCode = ViewBag.DocumentType;
                            @Html.Action("DocumentSummary", "DocumentApproval", docSummaryVM)

                        }

                        catch (Exception ex)
                        {
                            <p> Document Summary Cannot be loaded</p>
                        }

                    }
                </div>
            </div>
            <div class="col-md-6" style="border-left:2px solid #c6e6e8; min-height:400px">
                <div class="col-md-12 headSeperator"><i class="fa fa-th ig-aqua" aria-hidden="true"></i> Approve Document </div>

                    <div class="col-md-12">
                        <div class="col-md-12">
                            @*Remarks*@
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control HeaderBox", @rows = "4" })
                        </div>
                         
                        </div>
                <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <a class="btn btn-success" onclick="ApproveDocument()" id="btnApproveDocument" style="color:white;font-weight:bold;width:90%"><i class="glyphicon glyphicon-ok"></i> Approve</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-danger" onclick="RejectDocument()" id="btnRejectDocument" style="color:white;font-weight:bold;width:90%"><i class="glyphicon glyphicon-remove"></i> Reject</a>
                        </div>
                    </div>
                <div class="col-md-12">&nbsp;</div>
                @* Approval History *@
                <div class="col-md-12">
                    @Html.Action("ApprovalHistory", "DocumentApproval")
                </div>
                </div> 
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        LoadApprovalDocument();
    });
</script>



