@model PilotSmithApp.UserInterface.Models.ProductViewModel

@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Product is missing", @onchange = "$('#hdnProductID).val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "Product is missing", @onchange = "$('#hdnProductID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddProductMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProductID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProductID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddProductMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("ProductID", Model.ProductSelectList, "--Select product--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("ProductID", Model.ProductSelectList, "--Select product--", SelectListattributes)
}
@Html.ValidationMessage("ProductID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ProductID').val($('#hdnProductID').val());
        
        $('#ProductID').change(function () {
            if ($('#divProductBasicInfo') != undefined) {
                debugger;
                $('#divProductBasicInfo').load("Product/ProductBasicInfo?ID=" + (this.value == "" ? '00000000-0000-0000-0000-000000000000' : this.value), function () {
                    $('#ProductSpec').val($('#spnProductName').text());
                });
            }
            if ($('.divProductModelSelectList') != undefined) {
                debugger;
                $('#dropLoad').addClass('fa fa-spinner fa-spin');
                if (this.value != "") {
                    $('.divProductModelSelectList').load("ProductModel/ProductModelSelectList?required=required&productID=" + this.value)

                }
                else {
                    $('.divProductModelSelectList').empty();
                    $('.divProductModelSelectList').append('<span class="form-control newinput"><i id="dropLoad" class="fa fa-spinner"></i></span>');
                }
            }

        });
        $('#ProductID').select2({
            dropdownParent: $('.divProductSelectList')
        });
        $('.select2').addClass('form-control newinput');
    });
</script>
