@model PilotSmithApp.UserInterface.Models.ProductViewModel
@*<div class="col-md-12 no-padding">
    <div class="col-md-12 box-body">
        <ul class="todo-list ui-sortable">
            <li style="border-bottom: 1px solid grey">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.Code):</span>
                <!-- todo text -->
                <span>@Model.Code</span>
            </li>

            <li style="border-bottom: 1px solid grey">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.Name):</span>
                <!-- todo text -->
                <span>@Model.Name</span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 no-padding">
    <div class="col-md-12 box-body">
        <ul class="todo-list ui-sortable">
            <li style="border-bottom: 1px solid grey">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.):</span>
                <!-- todo text -->
                <span>@Model.ContactEmail</span>
            </li>
            <li style="border-bottom: 1px solid grey">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.Mobile):</span>
                <!-- todo text -->
                <span>@Model.Mobile</span>
            </li>
        </ul>
    </div>
</div>*@

