@model PilotSmithApp.UserInterface.Models.ProductViewModel
<div class="col-md-12 no-padding">
    <div class="col-md-12 box-body">
        <ul class="todo-list ui-sortable">
            <li style="border-bottom: 1px solid grey;width:50%;padding:5px 10px 5px 10px;">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.Code):</span>
                <!-- todo text -->
                <span>@Model.Code</span>
            </li>

            <li style="border-bottom: 1px solid grey;">
                <span class="control-label">@Html.DisplayNameFor(Model => Model.Name):</span>
                <!-- todo text -->
                <span id="spnProductName">@Model.Name</span>
            </li>
        </ul>
        @Html.HiddenFor(model => model.HSNCode, htmlAttributes: new { @class = "",@id="hdnProductHSNCode" })
    </div>
</div>

