@model PilotSmithApp.UserInterface.Models.TaxTypeViewModel
@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "TaxType is missing", @onchange = "$('#hdnTaxTypeCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "TaxType is missing", @onchange = "$('#hdnTaxTypeCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddTaxTypeMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnTaxTypeCode').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnTaxTypeCode').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddTaxTypeMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("TaxTypeCode", Model.TaxTypeSelectList, "--Select TaxType--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("TaxTypeCode", Model.TaxTypeSelectList, "--Select TaxType--", SelectListattributes)
}

@*{
    <div class="input-group">
        @Html.DropDownList("TaxTypeCode", Model.TaxTypeSelectList, "--Select tax type--", new { @class = "form-control newinput CalculateGST", @required = "", @title = "The Document status is missing", @style = "width:100%!important", @onchange = "$('#hdnTaxTypeCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddTaxTypeMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("TaxTypeCode", Model.TaxTypeSelectList, "--Select tax type--", new { @class = "form-control newinput CalculateGST", @style = "width:100%!important", @onchange = "$('#hdnTaxTypeCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddTaxTypeMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>
}*@

@Html.ValidationMessage("TaxTypeCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#TaxTypeCode').val($('#hdnTaxTypeCode').val());
        $('#TaxTypeCode').select2({
            dropdownParent: $('.divTaxTypeSelectList')
        });
        $('.select2').addClass('form-control newinput');
    });
</script>

