@model PilotSmithApp.UserInterface.Models.ProductModelViewModel

@{
    var SelectListattributes = new object();
    var onclickevent = "";
}
@if (@ViewBag.IsRequired == "required")
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "ProductModel is missing", @onchange = "$('#hdnProductModelID).val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "ProductModel is missing", @onchange = "$('#hdnProductModelID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddProductModelMaster('OTR')";
}
else
{
    SelectListattributes = ViewBag.propertydisable ? (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProductModelID').val(this.value)", disabled = "disabled" } : (object)new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProductModelID').val(this.value)" };
    onclickevent = ViewBag.propertydisable ? "" : "AddProductModelMaster('OTR')";
}
@if (@ViewBag.HasAddPermission)
{
    <div class="input-group">
        @Html.DropDownList("ProductModelID", Model.ProductModelSelectList, "--Select product model--", SelectListattributes)
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick=@onclickevent><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    @Html.DropDownList("ProductModelID", Model.ProductModelSelectList, "--Select product model--", SelectListattributes)
}
@Html.ValidationMessage("ProductModelID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ProductModelID').val($('#hdnProductModelID').val());
        $('#ProductModelID').select2({
            dropdownParent: $('.divProductModelSelectList')
        });
        $('.select2').addClass('form-control newinput');
        $('#ProductModelID').change(function () {
            if ($('#divProductBasicInfo') != undefined) {
                $('#divProductBasicInfo').load("ProductModel/ProductModelBasicInfo?ID=" + (this.value == "" ? '00000000-0000-0000-0000-000000000000' : this.value), function () {
                    $('#ProductSpec').val($('#spnProductName').text());
                    $('#Rate').val($('#spnSellingPrice').text().replace('₹ ', '').trim());
                    $('#CostRate').val($('#spnCostPrice').text().replace('₹ ', ' ').trim());
                    $('#SellingRate').val($('#spnSellingPrice').text().replace('₹ ', ' ').trim());
                        $('#UnitCode').val($('#hdnProductModelUnitCode').val());
                        $('#hdnUnitCode').val($('#hdnProductModelUnitCode').val());
                        $('#UnitCode').trigger('change');
                        if ($('#FormQuotationDetail') != undefined)
                        var editor = new wysihtml5.Editor("ProductSpec", {
                            toolbar: "toolbar",
                            //stylesheets: "css/stylesheet.css",
                            parserRules: wysihtml5ParserRules
                        });
                });
            }
        });
    });
</script>


