
@model PilotSmithApp.UserInterface.Models.SaleInvoiceViewModel
<style>
    .todo-list > li {
        background: #ffffff;
        border-left: none;
    }
</style>
@using (Ajax.BeginForm("InsertUpdateSaleInvoice", "SaleInvoice", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccessSaleInvoice", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "OnServerCallBegin", OnComplete = "OnServerCallComplete" }, new { @class = "form-horizontal", role = "form", @id = "SaleInvoiceForm" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(model => model.IsUpdate, htmlAttributes: new { @class = "" })
    @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "" })
    @Html.HiddenFor(model => model.IsDocLocked, htmlAttributes: new { @class = "" })
    @Html.HiddenFor(model => model.hdnFileID, htmlAttributes: new { @class = "", @id = "hdnFileDupID", @value = Guid.Empty })
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">General Details</div>
            <div class="form-group col-md-6">
                @*<a href="@Url.Action("GetXmlForTally1", "XMLGenerator")">print</a>*@

                <!--Currency start-->
                @*<div class="col-md-12 no-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.CurrencyCode, htmlAttributes: new { @class = "", @id = "hdnCurrencyCode" })
                            @Html.HiddenFor(model => model.CurrencyRate, htmlAttributes: new { @class = "", @id = "hdnCurrencyRate" })
                            @Html.Label("Configure currency", htmlAttributes: new { @class = "control-label lblrequired" })
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12" style="display:inline-flex;font-weight:500;">
                                <select class="form-control newinput" disabled>
                                    <option>INR</option>
                                </select>
                                <input class="form-control newinput" type="number" value="1" readonly style="width:100%;border-left:1px solid black;text-align:right;" />
                                @if (Model.IsUpdate)
                                {
                                    <select class="form-control newinput" style="border-left:1px solid black" disabled>
                                        <option>@Model.CurrencyCode</option>
                                    </select>
                                    <input class="form-control newinput" type="number" value="@Model.CurrencyRate" readonly style="width:100%;border-left:1px solid black;text-align:right;" />
                                }
                                else
                                {
                                    if ((Model.QuoteID == null && Model.SaleOrderID == null && Model.ProfInvID==null))
                                    {
                                        <select class="form-control newinput changeCurrency" style="border-left:1px solid black">
                                            @{
                                                foreach (var cur in Model.Currency.CurrencyList)
                                                {
                                                    <option value="@cur.Code" title="@cur.Description">@cur.Code</option>
                                                }
                                            }

                                        </select>
                                        <input class="form-control newinput changeCurrency" type="number" min="0" style="width:100%;border-left:1px solid black;text-align:right;" value="@Model.CurrencyRate" />

                                                }
                                                else
                                                {
                                                    <select class="form-control newinput" style="border-left:1px solid black" disabled>
                                                        <option>@Model.CurrencyCode</option>
                                                    </select>
                                                    <input class="form-control newinput changeCurrency" type="number" min="0" style="width:100%;border-left:1px solid black;text-align:right;" value="@Model.CurrencyRate" />

                                                    }
                                                }
                            </div>
                        </div>
                    </div>
                    @if (!Model.IsUpdate)
                {
                        <div class="col-md-6 no-padding">
                            <div class="col-md-12">
                                <div class="callout callout-info" style="background-color:#e8b67f!important;padding: 5px 30px 6.5px 15px;margin:0px;border-left: 8px solid #e66911;color: #543131 !important">
                                    <h4>Default currency: INR</h4>

                                    <p>Changing currency will reset document</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>*@ 

                <div class="col-md-12 no-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.CurrencyCode, htmlAttributes: new { @class = "", @id = "hdnCurrencyCode" })
                            @Html.HiddenFor(model => model.CurrencyRate, htmlAttributes: new { @class = "", @id = "hdnCurrencyRate" })
                            @Html.Label("Select currency", htmlAttributes: new { @class = "control-label lblrequired" })
                            <label class="control-label lblrequired" style="margin-left:30px!important;">Rate</label>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12" style="display:inline-flex;font-weight:500;">
                                @*<select class="form-control newinput" disabled>
                            <option>INR</option>
                        </select>
                        <input class="form-control newinput" type="number" value="1" readonly style="width:100%;border-left:1px solid black;text-align:right;" />*@
                                @if (Model.IsUpdate)
                                {
                                    <select class="form-control newinput" disabled title="Cannot change currency">
                                        <option>@Model.CurrencyCode</option>
                                    </select>
                                    <span class="form-control newinput" style="margin-left:auto;border-left:1px solid black;border-bottom:none;text-align:right;"> &nbsp;1&nbsp;&nbsp;<span>@Model.CurrencyCode</span>&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;</span>
                                    <input class="form-control newinput" type="number" value="@Model.CurrencyRate" readonly style="width:100%;text-align:left;" title="Cannot change rate" />
                                }
                                else
                                {
                                    if ((Model.QuoteID == null && Model.SaleOrderID == null && Model.ProfInvID == null))
                                    {
                                        <select class="form-control newinput changeCurrency">
                                            @{
                                                foreach (var cur in Model.Currency.CurrencyList)
                                                {
                                                    <option value="@cur.Code" title="@cur.Description">@cur.Code</option>
                                                }
                                            }

                                        </select>
                                        <span class="form-control newinput" style="margin-left:auto;border-left:1px solid black;text-align:right;border-bottom:none;"> &nbsp;1&nbsp;&nbsp;<span id="lblCurrencyCode">@Model.CurrencyCode</span>&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;</span>
                                                }
                                                else
                                                {
                                                    <select class="form-control newinput" disabled title="Cannot change currency">
                                                        <option>@Model.CurrencyCode</option>
                                                    </select>
                                                    <span class="form-control newinput" style="margin-left:auto;border-left:1px solid black;text-align:right;border-bottom:none;"> &nbsp;1&nbsp;&nbsp;<span id="lblCurrencyCode">@Model.CurrencyCode</span>&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;</span>
                                                }

                                                <input class="form-control newinput changeCurrency" type="number" min="0" id="idCurRateForAutofocus" style="width:100%;text-align:left;" value="@Model.CurrencyRate" />

                                                }
                                @*<select class="form-control newinput" disabled>
                            <option>INR</option>
                        </select>*@
                                <input class="form-control newinput" type="text" readonly style="width:100%;text-align:left;background-color:rgba(2, 166, 143, 0.06);border-bottom:none;" value="INR" />
                            </div>
                        </div>
                    </div>
                    @if (!Model.IsUpdate)
                    {
                        <div class="col-md-6 no-padding">
                            <div class="col-md-12">
                                <div class="callout callout-info" style="background-color:#e8b67f!important;padding: 5px 30px 6.5px 15px;margin:0px;border-left: 8px solid #e66911;color: #543131 !important">
                                    <h4><i class="fa fa-info-circle"></i> note</h4>

                                    <p>Changing currency will reset document</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 no-padding">
                            <div class="col-md-12">
                                <div class="callout callout-info" style="background-color:#e8b67f!important;padding: 5px 30px 6.5px 15px;margin:0px;border-left: 8px solid #e66911;color: #543131 !important">
                                    <h4><i class="fa fa-info-circle"></i> note</h4>

                                    <p>Currency cannot change in edit mode</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <!--Currency end-->

                @if (!Model.IsUpdate)
                {
                    <div class="col-md-12" style="font-size:14px">
                        @Html.Label("Create Document From: ")
                        <span style="margin-left:10px">
                            @Html.RadioButtonFor(model => model.DocumentType, "Quotation", new { @checked = true , @tabindex = "-1",@id="RadioQuoteID" }) @Html.Label("Quotation")
                        </span>
                        <span style="margin-left:10px">
                            @Html.RadioButtonFor(model => model.DocumentType, "SaleOrder",new { @id="RadioSaleOrderID"}) @Html.Label("Sale Order")
                        </span>
                        <span style="margin-left:10px">
                            @Html.RadioButtonFor(model => model.DocumentType, "ProformaInvoice",new { @id = "RadioProfInvID" }) @Html.Label("Proforma Invoice")
                        </span>
                    </div>
                    if (Model.DocumentType == "Quotation")
                    {
                        <div class="col-md-12 no-padding" id="divQuotationSelectList">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Quotation", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.QuoteID, Model.QuotationSelectList, "Search Quotation", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnQuoteID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.QuoteID, htmlAttributes: new { @class = "", @id = "hdnQuoteID" })
                        </div>
                        <div class="col-md-12 no-padding" id="divSaleOrderSelectList" style="display:none;">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Sale Order", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.SaleOrderID, Model.SaleOrderSelectList, "Search Sale Order", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnSaleOrderID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.SaleOrderID, htmlAttributes: new { @class = "", @id = "hdnSaleOrderID" })
                        </div>
                        <div class="col-md-12 no-padding" id="divProformaInvoiceSelectList" style="display:none;">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Proforma Invoice", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.ProfInvID, Model.ProformaInvoiceSelectList, "Search Proforma Invoice", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProfInvID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.ProfInvID, htmlAttributes: new { @class = "", @id = "hdnProfInvID" })
                        </div>
                    }
                    if (Model.DocumentType == "SaleOrder")
                    {
                        <div class="col-md-12 no-padding" id="divQuotationSelectList" style="display:none;">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Quotation", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.QuoteID, Model.QuotationSelectList, "Search Quotation", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnQuoteID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.QuoteID, htmlAttributes: new { @class = "", @id = "hdnQuoteID" })
                        </div>
                        <div class="col-md-12 no-padding" id="divSaleOrderSelectList">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Sale Order", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.SaleOrderID, Model.SaleOrderSelectList, "Search Sale Order", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnSaleOrderID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.SaleOrderID, htmlAttributes: new { @class = "", @id = "hdnSaleOrderID" })
                        </div>
                        <div class="col-md-12 no-padding" id="divProformaInvoiceSelectList" style="display:none;">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Proforma Invoice", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.ProfInvID, Model.ProformaInvoiceSelectList, "Search Proforma Invoice", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProfInvID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.ProfInvID, htmlAttributes: new { @class = "", @id = "hdnProfInvID" })
                        </div>
                    }
                    if (Model.DocumentType == "ProformaInvoice")
                    {
                        <div class="col-md-12 no-padding" id="divQuotationSelectList" style="display:none;">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Quotation", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.QuoteID, Model.QuotationSelectList, "Search Quotation", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnQuoteID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.QuoteID, htmlAttributes: new { @class = "", @id = "hdnQuoteID" })
                        </div>
                        <div class="col-md-12 no-padding" id="divSaleOrderSelectList" style="display:none;">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Sale Order", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.SaleOrderID, Model.SaleOrderSelectList, "Search Sale Order", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnSaleOrderID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.SaleOrderID, htmlAttributes: new { @class = "", @id = "hdnSaleOrderID" })
                        </div>
                        <div class="col-md-12 no-padding" id="divProformaInvoiceSelectList">
                            <div class="col-md-12">
                                @Html.Label("Search and select a Proforma Invoice", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.ProfInvID, Model.ProformaInvoiceSelectList, "Search Proforma Invoice", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProfInvID').val(this.value)" })
                            </div>
                            @Html.HiddenFor(model => model.ProfInvID, htmlAttributes: new { @class = "", @id = "hdnProfInvID" })
                        </div>
                    }
                }
                else
                {
                    @Html.HiddenFor(model => model.Customer.TallyName, htmlAttributes: new { @class = "" })
                    @Html.HiddenFor(model => model.TallyCompanyName, htmlAttributes: new { @class = "" })
                    if (Model.QuoteID != null && Model.QuoteID != Guid.Empty)
                    {
                        <div class="col-md-12 no-padding" id="divQuotationSelectList">
                            <div class="col-md-12">
                                @Html.Label("Quotation", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                <span class="form-control newinput" id="spanQuotation" style="background-color:#eeeeee">@Model.Quotation.QuoteNo</span>
                                @*@Html.DropDownListFor(model => model.QuoteID, Model.QuotationSelectList, "Search Quotation", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnQuoteID').val(this.value)", @disabled = "" })*@
                            </div>
                            @Html.HiddenFor(model => model.QuoteID, htmlAttributes: new { @class = "", @id = "hdnQuoteID" })
                        </div>
                    }
                    if (Model.SaleOrderID != null && Model.SaleOrderID != Guid.Empty)
                    {
                        <div class="col-md-12 no-padding" id="divSaleOrderSelectList">
                            <div class="col-md-12">
                                @Html.Label("Sale Order", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                <span class="form-control newinput" id="spanSaleOrder" style="background-color:#eeeeee">@Model.SaleOrder.SaleOrderNo</span>
                                @*@Html.DropDownListFor(model => model.SaleOrderID, Model.SaleOrderSelectList, "Search Sale Order", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnSaleOrderID').val(this.value)", @disabled = "" })*@
                            </div>
                            @Html.HiddenFor(model => model.SaleOrderID, htmlAttributes: new { @class = "", @id = "hdnSaleOrderID" })
                        </div>
                    }
                    if (Model.ProfInvID != null && Model.ProfInvID != Guid.Empty)
                    {
                        <div class="col-md-12 no-padding" id="divProformaInvoiceSelectList">
                            <div class="col-md-12">
                                @Html.Label("Proforma Invoice", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                <span class="form-control newinput" id="spanProformaInvoice" style="background-color:#eeeeee">@Model.ProformaInvoice.ProfInvNo</span>
                                @*@Html.DropDownListFor(model => model.ProfInvID, Model.ProformaInvoiceSelectList, "Search Proforma Invoice", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProfInvID').val(this.value)", @disabled = "" })*@
                            </div>
                            @Html.HiddenFor(model => model.ProfInvID, htmlAttributes: new { @class = "", @id = "hdnProfInvID" })
                        </div>
                    }
                }

                <div class="form-group col-md-12 no-right-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.SaleInvNo, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SaleInvNo, new { htmlAttributes = new { @class = "form-control newinput", @readonly = "readonly", @placeholder = "<<Autogenerated>>" } })
                            @Html.ValidationMessageFor(model => model.SaleInvNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.SaleInvDateFormatted, htmlAttributes: new { @class = "control-label lblrequired" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SaleInvDateFormatted, new { htmlAttributes = new { @class = "form-control newinput datepicker", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SaleInvDateFormatted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 no-right-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.SaleInvRefNo, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SaleInvRefNo, new { htmlAttributes = new { @class = "form-control newinput" } })
                            @Html.ValidationMessageFor(model => model.SaleInvRefNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DocumentStatusCode, htmlAttributes: new { @class = "control-label lblrequired" })
                        </div>
                        <div class="col-md-12">
                            <div class="divDocumentStatusSelectList">
                                <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"> </i></span>

                                @*  @Html.Action("DocumentStatusSelectList", "DocumentStatus", new { required = "required", code = "SIV" })*@
                            </div>
                        </div>
                        <!-- This hidden field will keep the information whether the field is required or not -->
                        @Html.Hidden("hdnDocumentStatusRequired", "required")
                        @Html.HiddenFor(model => model.DocumentStatusCode, htmlAttributes: new { @class = "", @id = "hdnDocumentStatusCode" })
                    </div>
                </div>
                <div class="form-group col-md-12 no-right-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ExpectedDelvDateFormatted, htmlAttributes: new { @class = "control-label lblrequired" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ExpectedDelvDateFormatted, new { htmlAttributes = new { @class = "form-control newinput datepicker", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.ExpectedDelvDateFormatted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PreparedBy, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="divPreparedBySelectList">
                                <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"></i></span>
                                @* binding from javascript document ready function using div class *@
                                @*@Html.Action("AttendedBySelectList", "Employee", new { required = "", postingParams = "ResponsiblePersonID" })*@
                            </div>
                        </div>
                        <!-- This hidden field will keep the information whether the field is required or not -->
                        @Html.Hidden("hdnPreparedByRequired", "")
                        @Html.HiddenFor(model => model.PreparedBy, htmlAttributes: new { @class = "", @id = "hdnPreparedBy" })
                    </div>
                </div>
                <div class="form-group col-md-12 no-right-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.BranchCode, htmlAttributes: new { @class = "control-label lblrequired" })
                        </div>
                        @if (Model.IsUpdate)
                        {
                        <div class="col-md-12">
                            <span class="form-control newinput" style="background-color:#eeeeee">@Model.Branch.Description</span>
                        </div>
                        }
                        else
                        {
                        <div class="col-md-12">
                            <div class="divBranchSelectList">
                                <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"> </i></span>

                            </div>
                        </div>
                        }
                        <!-- This hidden field will keep the information whether the field is required or not -->
                        @Html.Hidden("hdnBranchRequired", "required")
                        <!-- This hidden field will keep the information whether the field is disabled or not -->
                        @Html.Hidden("hdnBranchdisabled", false)
                        @Html.HiddenFor(model => model.BranchCode, htmlAttributes: new { @class = "", @id = "hdnBranchCode" })
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.BillLocationCode, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="divBillLocationSelectList">
                                <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"> </i></span>
                            </div>
                        </div>
                        <!-- This hidden field will keep the information whether the field is required or not -->
                        @Html.Hidden("hdnBillLocationRequired", "")
                        <!-- This hidden field will keep the information whether the field is disabled or not -->
                        @Html.Hidden("hdnBillLocationdisabled", false)
                        @Html.HiddenFor(model => model.BillLocationCode, htmlAttributes: new { @class = "", @id = "hdnBillLocationCode" })
                    </div>
                </div>
               
                    <div class="form-group col-md-12 no-right-padding">
                        <div class="col-md-6 no-padding">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.InvoiceType, htmlAttributes: new { @class = "control-label" })
                            </div>
                            @if (Model.IsUpdate)
                            {

                                <div class="col-md-12">
                                    @{
                                        if (Model.InvoiceType == "RB")
                                        {
                                            <span class="form-control newinput" style="background-color:#eeeeee">Regular Bill</span>
                                        }
                                        else if (Model.InvoiceType == "SB")
                                        {
                                            <span class="form-control newinput" style="background-color:#eeeeee">Service Bill</span>
                                        }
                                    }
                                </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12">
                                                <div id="divInvoiceType">
                                                    @{
                                                        List<SelectListItem> TypeList = new List<SelectListItem>();
                                                        TypeList.Add(new SelectListItem
                                                        { Text = "Regular Bill", Value = "RB", Selected = true });
                                                        TypeList.Add(new SelectListItem
                                                        { Text = "Service Bill", Value = "SB" });
                                                    }
                                                    @Html.DropDownListFor(model => model.InvoiceType, TypeList, new { @class = "form-control newinput", value = -1, style = "padding:4px 12px;width:100 %", onchange = "InvoiceTypeOnChange(this.value)", })
                                                </div>
                                                <div id="divServiceBill">
                                                </div>
                                            </div>
                                                        }
                                 @Html.HiddenFor(model => model.InvoiceType, htmlAttributes: new { @class = "", @id = "hdnInvoiceType" })
                            
                        </div>
                    </div>
                 
            </div>
            <div class="form-group col-md-6 stausCombined">
                <div class="boxstatus boxstatus2 shadow2">
                    <div class="Shadow2data clearfix">
                        <div class="form-group col-md-12">
                            <div class="rightAmtCaption">Document Status</div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="lblStatusDisplay">@Model.DocumentStatus.Description</div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="rightAmtCaption">Email Status</div>
                        </div>
                        <div class="form-group col-md-12">
                            @if (Model.EmailSentYN == null)
                            {
                                <div class="lblStatusDisplay">-</div>
                            }
                            else if (Model.EmailSentYN == true)
                            {
                                <div class="lblStatusDisplay">✔ EMAIL SEND</div>
                            }
                            else
                            {
                                <div class="lblStatusDisplay">EMAIL NOT SEND</div>
                            }
                        </div>
                        @*<div class="form-group col-md-12">
                                <div class="rightAmtCaption">@Html.DisplayNameFor(Model => Model.LatestApprovalStatus)</div>
                            </div>*@
                        @*<div class="form-group col-md-12">

                                @if (Model.LatestApprovalStatus == null)
                                {
                                    <div class="lblStatusDisplay">DRAFTED DOCUMENT</div>
                                }
                                else
                                {
                                    <div class="lblStatusDisplay">@Model.LatestApprovalStatusDescription</div>
                                }
                            </div>*@
                        <div class="form-group col-md-12">
                            <div class="rightAmtCaption">Branch</div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="lblStatusDisplay">@Model.Branch.Description</div>
                        </div>

                        @if (Model.IsUpdate)
                        {
                            <div class="col-md-12"></div>
                            <div class="form-group col-md-12">
                                @if (!Model.IsDocLocked)
                                {
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-2 no-padding">
                                            <img src="~/Content/images/ownerlock.png" title="Document Locked" />
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            <span style="font-size:24px;">Owner - <span style="font-weight:300;">@Model.DocumentOwner</span></span><br />
                                            <a href="#" onclick="TakeOwnership(this)" documentNumber="@Model.SaleInvNo" documentType="SIV" documentCurrentOwner="@Model.DocumentOwner"><span style="font-size:18px;">Take ownership</span></a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-2 no-padding">
                                            <img src="~/Content/images/ownerunlock.png" />
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            <span style="font-size:24px;">Owner - <span style="font-weight:300;">@Model.DocumentOwner</span></span><br />
                                            <span style="font-size:18px;">Holding ownership</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">Customer Details</div>
            <div class="form-group col-md-6">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label lblrequired" })
                    </div>
                    @if (Model.IsUpdate || Model.QuoteID != null || Model.SaleOrderID != null || Model.ProfInvID != null)
                    {
                        <div class="col-md-12">
                            <span class="form-control newinput" style="background-color:#eeeeee">@Model.Customer.CompanyName</span>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="divCustomerSelectList">
                                <span class="form-control newinput"> <i class="fa fa-spinner fa-spin"> </i></span>
                                @* binding from javascript document ready function using div class *@
                            </div>
                        </div>
                    }

                    <!-- This hidden field will keep the information whether the field is required or not -->
                    @Html.Hidden("hdnCustomerRequired", "required")
                    <!-- This hidden field will keep the information whether the field is disabled or not -->
                    @Html.Hidden("hdnCustomerdisabled", false)
                    @Html.HiddenFor(model => model.CustomerID, htmlAttributes: new { @class = "", @id = "hdnCustomerID" })
                </div>
                <div id="divCustomerBasicInfo">
                    @Html.Action("CustomerBasicInfo", "Customer", Model.Customer)
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.MailingAddress, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.MailingAddress, 5, 0, new { @class = "form-control newinput" })
                        @Html.ValidationMessageFor(model => model.MailingAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ShippingAddress, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.ShippingAddress, 5, 0, new { @class = "form-control newinput" })
                        @Html.ValidationMessageFor(model => model.ShippingAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">
                Sale Invoice Details
                @{
                    if (Model.IsDocLocked || !Model.IsUpdate)
                    {
                        if (Model.InvoiceType == "SB")
                        {
                            <a class="btn btn-openid pull-right" onclick="AddOtherExpenseDetailList()" id="btnAddOtherExpenses" style="color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Other Expenses</a>
                            <a class="btn btn-openid pull-right" onclick="AddSaleInvoiceDetailList()" id="btnAddItems" style="display:none;color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Detail</a>
                            <a class="btn btn-openid pull-right" onclick="AddSaleInvoiceServiceBillList()" id="btnAddServiceBill" style="color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Detail</a>

                        }
                        else
                        {
                            <a class="btn btn-openid pull-right" onclick="AddOtherExpenseDetailList()" id="btnAddOtherExpenses" style="color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Other Expenses</a>
                            <a class="btn btn-openid pull-right" onclick="AddSaleInvoiceDetailList()" id="btnAddItems" style="color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Detail</a>
                            <a class="btn btn-openid pull-right" onclick="AddSaleInvoiceServiceBillList()" id="btnAddServiceBill" style="display:none ;color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Detail</a>

                        }
                    }
                    else
                    {
                        <a class="btn btn-openid pull-right" disabled id="btnAddOtherExpenses" style="color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Other Expenses</a>
                        <a class="btn btn-openid pull-right" disabled id="btnAddItems" style="color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Detail</a>
                        <a class="btn btn-openid pull-right" disabled id="btnAddServiceBill" style="display:none ;color:white;font-weight:bold;margin-bottom:.9%;text-decoration:none;margin-right: 2.7%;"><i class="fa fa-plus-circle"></i> Add Detail</a>
                    }
                }
            </div>

            @Html.HiddenFor(model => model.DetailJSON, htmlAttributes: new { @class = "" })
            @Html.HiddenFor(model => model.OtherChargesDetailJSON, htmlAttributes: new { @class = "" })
            <div class="col-md-12 no-left-padding" style="padding-right:3.7%">
                    <table id="tblSaleInvoiceDetails" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" style="width:100%;">
                        <thead>
                            <tr class="text-center TableHead">
                                <th style="width:15%">Product</th>
                                <th style="width:10%">HSN Code</th>
                                <th style="width:10%">Quantity</th>
                                <th style="width:10%">Rate(<span id="spanRate">@Model.CurrencyCode</span>)</th>
                                <th style="width:10%">Discount(<span id="spanDiscount">@Model.CurrencyCode</span>)</th>
                                <th style="width:10%">Taxable(<span id="spanTaxable">@Model.CurrencyCode</span>)</th>
                                <th style="width:10%">GST</th>
                                <th style="width:10%">Cess</th>
                                <th style="width:10%">Total(<span id="spanTotal">@Model.CurrencyCode</span>)</th>
                                <th style="width:5%">...</th>
                            </tr>
                        </thead>
                    </table>  
                </div>
            <div class="form-group col-md-7 ">
                <div class="col-md-12 no-padding" id="divSaleInvoiceOtherChargesDetailList">
                    <table id="tblSaleInvoiceOtherChargesDetailList" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" style="width:100%;">
                        <thead>
                            <tr class="text-center TableHead">
                                <th style="width:20%">Other Charge</th>
                                <th style="width:15%">SAC Code</th>
                                <th style="width:15%">Charge Amount(<span id="spanchargeAmount">@Model.CurrencyCode</span>)</th>
                                <th style="width:15%">GST</th>
                                <th style="width:15%">Additional Tax</th>
                                <th style="width:15%">Total(<span id="spanOCTotal">@Model.CurrencyCode</span>)</th>
                                <th style="width:5%">...</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                </div>
            <div class="col-md-5" style="padding-right:1.5%">
                <table class="table dataTable no-footer DetailSummerybox">
                    <tbody>
                        <tr>
                            <td style="text-align: right">
                                <label class="control-label" for="lblItemTotal">Total Taxable Amount</label>
                            </td>
                            <td class="ApplyCurrency" style="text-align: right">
                                <label class="control-label " for="" id="lblItemTotal">00.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <label class="control-label" for="lblTaxTotal">GST Amount</label>
                            </td>
                            <td class="ApplyCurrency" style="text-align: right">
                                <label class="control-label " for="" id="lblTaxTotal">00.00</label>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right">
                                <label class="control-label" for="lblCessAmount">Cess Amount</label>
                            </td>
                            <td class="ApplyCurrency" style="text-align: right">
                                <label class="control-label " for="" id="lblCessAmount">00.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <label class="control-label" for="lblGrossAmount">Other Charge Amount</label>
                            </td>
                            <td class="ApplyCurrency" style="text-align: right">
                                <label class="control-label " for="" id="lblOtherChargeAmount">00.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <label class="control-label" for="lblGrossAmount">Gross Amount</label>
                            </td>
                            <td class="ApplyCurrency" style="text-align: right">
                                <label class="control-label " for="" id="lblGrossAmount">00.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <label class="control-label " for="Discount">Cash Discount</label>
                            </td>
                            <td style="text-align: right;padding: 0px!important">
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control newinput ApplyCurrency Amount", onchange = "CalculateGrandTotal(this.value)", @onkeypress = "return isNumber(event)" } })
                            </td>
                        </tr>
                        <tr class="odd">
                            <td style="text-align: right">
                                <label class="control-label " for="lblGrandTotal">Grand Total</label>
                            </td>
                            <td class="ApplyCurrency" style="text-align: right">
                                <label class="control-label " for="" id="lblGrandTotal" style="font-weight: bold !important;">00.00</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">Notes</div>

            <div class="form-group col-md-12">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.GeneralNotes, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.GeneralNotes, 5, 0, new { @class = "form-control newinput" })
                        @Html.ValidationMessageFor(model => model.GeneralNotes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">Sale Invoice Attachments</div>
            @Html.Partial("_Fileupload")
        </div>
    </div>
    <div class="" hidden="hidden">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnInsertUpdateSaleInvoice" type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
                    }
<script>
    $(document).ready(function () {
        try {
            $('.divPreparedBySelectList').load('/Employee/PreparedBySelectList?required=' + $('#hdnPreparedByRequired').val())

            $('.divDocumentStatusSelectList').load('/DocumentStatus/DocumentStatusSelectList?code=SIV&required=' + $('#hdnDocumentStatusRequired').val())
            $('.divBillLocationSelectList').load('/BillLocation/BillLocationSelectList?required=' + $('#hdnBillLocationRequired').val())
            @if (Model.IsUpdate||Model.QuoteID!=null||Model.SaleOrderID!=null||Model.ProfInvID!=null)
         {
         }
         else
         {
             <text>
            $('.divCustomerSelectList').load('/Customer/CustomerSelectList?required=' + $('#hdnCustomerRequired').val(), function () {

            });
            $('.divBranchSelectList').load('/Branch/BranchSelectList?required=' + $('#hdnBranchRequired').val(), function () { });
           
            $('.changeCurrency').change(function () {
                if (_dataTable.SaleInvoiceDetailList.rows().count() > 0) {
                    notyConfirm('Do you want to continue?', 'ClearSaleInvoiceform();', 'This will reset the form !', "Continue");
                    return false;
                }
                if (this.nodeName == "SELECT") {
                    $('#hdnCurrencyCode').val(this.value)
                    $('#spanRate').text(this.value)
                    $('#spanDiscount').text(this.value)
                    $('#spanTaxable').text(this.value)
                    $('#spanTotal').text(this.value)
                    $('#spanchargeAmount').text(this.value)
                    $('#spanOCTotal').text(this.value)
                    $('#idCurRateForAutofocus').focus();
                    $('#idCurRateForAutofocus').val(1);
                    $('#hdnCurrencyRate').val(1);
                }
                if (this.nodeName == "INPUT") {
                    $('#hdnCurrencyRate').val(this.value)
                }
            });
            
            </text>
         }
            @if ((!Model.IsUpdate) && (Model.QuoteID!=null||Model.SaleOrderID!=null||Model.ProfInvID!=null))
        {
            <text>
            $('.divBranchSelectList').load('/Branch/BranchSelectList?required=' + $('#hdnBranchRequired').val(), function () {
            });
          
            $('.changeCurrency').change(function () {
                debugger;
                if (this.nodeName == "INPUT") {
                    $('#hdnCurrencyRate').val(this.value)
                }
            });
            
            </text>
        }
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            $.validator.unobtrusive.parse("#SaleInvoiceForm");
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            $('input.datepicker').datepicker({
                format: "dd-M-yyyy",
                maxViewMode: 0,
                todayBtn: "linked",
                clearBtn: true,
                autoclose: true,
                todayHighlight: true
            });
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            //Fileupload
            $('#btnUpload').click(function () {
                //Pass the controller name
                var FileObject = new Object;
                if ($('#hdnFileDupID').val() != "00000000-0000-0000-0000-000000000000") {
                    FileObject.ParentID = (($('#SaleInvoiceForm #ID').val()) != "00000000-0000-0000-0000-000000000000" ? ($('#SaleInvoiceForm #ID').val()) : $('#hdnFileDupID').val());
                }
                else {
                    FileObject.ParentID = ($('#SaleInvoiceForm #ID').val() == "00000000-0000-0000-0000-000000000000") ? "" : $('#SaleInvoiceForm #ID').val();
                }
                FileObject.ParentType = "SaleInvoice";
                FileObject.Controller = "FileUpload";
                UploadFile(FileObject);
            });
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            $('#QuoteID').val($('#hdnQuoteID').val() == "00000000-0000-0000-0000-000000000000" ? null : $('#hdnQuoteID').val());
            $('#QuoteID').select2({
                language: {
                    noResults: function (params) {
                        return "Search result will shows here";
                    }
                },
                ajax: {
                    type: 'POST',
                    dataType: 'json',
                    url: "Quotation/GetQuotationSelectListOnDemand/",
                    delay: 250,
                    data: function (term) {
                        return {
                            'searchTerm': term.term //search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    },
                }
            });
            $('#SaleOrderID').val($('#hdnSaleOrderID').val() == "00000000-0000-0000-0000-000000000000" ? null : $('#hdnSaleOrderID').val());
            $('#SaleOrderID').select2({
                language: {
                    noResults: function (params) {
                        return "Search result will shows here";
                    }
                },
                ajax: {
                    type: 'POST',
                    dataType: 'json',
                    url: "SaleOrder/GetSaleOrderSelectListOnDemand/",
                    delay: 250,
                    data: function (term) {
                        return {
                            'searchTerm': term.term //search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    },
                }
            });
            $('#ProfInvID').val($('#hdnProfInvID').val() == "00000000-0000-0000-0000-000000000000" ? null : $('#hdnProfInvID').val());
            $('#ProfInvID').select2({
                language: {
                    noResults: function (params) {
                        return "Search result will shows here";
                    }
                },
                ajax: {
                    type: 'POST',
                    dataType: 'json',
                    url: "ProformaInvoice/GetProformaInvoiceForSelectListOnDemand/",
                    delay: 250,
                    data: function (term) {
                        return {
                            'searchTerm': term.term //search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    },
                }
            });
            $('.select2').addClass('form-control newinput');
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            @if (!Model.IsUpdate)
              {
                <text>
            $('#SaleInvoiceForm #SaleOrderID').change(function () {
                OnServerCallBegin();
                $("#divSaleInvoiceForm").load("SaleInvoice/SaleInvoiceForm?id=" + _emptyGuid + "&saleOrderID=" + this.value, function () {
                    $('#divCustomerBasicInfo').load("Customer/CustomerBasicInfo?ID=" + $('#SaleInvoiceForm #hdnCustomerID').val(), function () {
                        $('#MailingAddress').val($('#hdnCustomerBillingAddress').val());
                        $('#ShippingAddress').val($('#hdnCustomerShippingAddress').val());
                    });
                    BindSaleInvoiceDetailList("00000000-0000-0000-0000-000000000000", true, false, false);
                    BindSaleInvoiceOtherChargesDetailList("00000000-0000-0000-0000-000000000000", false, true, false)
                    CalculateTotal();
                    //$('#DocumentType').prop('disabled', true);
                    //$("input[type=radio][value=Quotation]").attr("disabled", true);
                    //$("input[type=radio][value=ProformaInvoice]").attr("disabled", true);
                    //$("#DocumentType").attr('title', "SaleOrder details has been listed, Reset to continue");
                    OnServerCallComplete();
                });
            });
            </text>
              }
              else
              {

              }
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            @if (!Model.IsUpdate)
            {
                <text>
            $('#SaleInvoiceForm #QuoteID').change(function () {
                OnServerCallBegin();
                $("#divSaleInvoiceForm").load("SaleInvoice/SaleInvoiceForm?id=" + _emptyGuid + "&quotationID=" + this.value, function () {
                    $('#divCustomerBasicInfo').load("Customer/CustomerBasicInfo?ID=" + $('#SaleInvoiceForm #hdnCustomerID').val(), function () {
                        $('#MailingAddress').val($('#hdnCustomerBillingAddress').val());
                        $('#ShippingAddress').val($('#hdnCustomerShippingAddress').val());
                    });
                    BindSaleInvoiceDetailList("00000000-0000-0000-0000-000000000000", false, true, false);
                    BindSaleInvoiceOtherChargesDetailList("00000000-0000-0000-0000-000000000000", true, false, false)
                    CalculateTotal();
                    //$("input[type=radio][value=SaleOrder]").attr("disabled", true);
                    //$("input[type=radio][value=ProformaInvoice]").attr("disabled", true);
                    //$("input[type=radio][value=SaleOrder]").attr('title', "Quotation  details has been listed, Reset to continue");
                    OnServerCallComplete();
                });
            });
            </text>
        }
    else
    {

              }
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            @if (!Model.IsUpdate)
             {
                 <text>
            $('#SaleInvoiceForm #ProfInvID').change(function () {
                debugger;
                OnServerCallBegin();
                $("#divSaleInvoiceForm").load("SaleInvoice/SaleInvoiceForm?id=" + _emptyGuid + "&proformaInvoiceID=" + this.value, function () {
                    $('#divCustomerBasicInfo').load("Customer/CustomerBasicInfo?ID=" + $('#SaleInvoiceForm #hdnCustomerID').val(), function () {
                        $('#MailingAddress').val($('#hdnCustomerBillingAddress').val());
                        $('#ShippingAddress').val($('#hdnCustomerShippingAddress').val());
                        BindSaleInvoiceDetailList("00000000-0000-0000-0000-000000000000", false, false, true);
                        BindSaleInvoiceOtherChargesDetailList("00000000-0000-0000-0000-000000000000", false, false, true)
                        CalculateTotal();
                        //$("input[type=radio][value=SaleOrder]").attr("disabled", true);
                        //$("input[type=radio][value=Quotation]").attr("disabled", true);
                        //$("input[type=radio][value=ProformaInvoice]").attr('title', "Proforma Invoice  details has been listed, Reset to continue");
                        OnServerCallComplete();
                    });
                });

            });
            </text>
        }
    else
    {

              }
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            $('[name="DocumentType"]').change(function () {
                if (this.value == "Quotation") {
                    ResetSaleInvoice(this);
                    //$('#divSaleOrderSelectList').hide();
                    //$('#divQuotationSelectList').show();
                    //$('#divProformaInvoiceSelectList').hide();
                    //$('#QuoteID').prop('disabled', false);
                    //$('#SaleOrderID').prop('disabled', true);
                    //$('#ProfInvID').prop('disabled', true);
                }
                else if (this.value == "SaleOrder") {
                    ResetSaleInvoice(this);
                    //$('#divSaleOrderSelectList').show();
                    //$('#divQuotationSelectList').hide();
                    //$('#divProformaInvoiceSelectList').hide();
                    //$('#QuoteID').prop('disabled', true);
                    //$('#SaleOrderID').prop('disabled', false);
                    //$('#ProfInvID').prop('disabled', true);
                }
                else if (this.value == "ProformaInvoice") {
                    ResetSaleInvoice(this);
                    //$('#divSaleOrderSelectList').hide();
                    //$('#divQuotationSelectList').hide();
                    //$('#divProformaInvoiceSelectList').show();
                    //$('#QuoteID').prop('disabled', true);
                    //$('#SaleOrderID').prop('disabled', true);
                    //$('#ProfInvID').prop('disabled', false);
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
        try {
            $('#InvoiceType').select2({

            });
            $('.select2').addClass('form-control newinput');

            $(document).on('focus', '.select2', function (e) {
                if (e.originalEvent) {
                    var s2element = $(this).siblings('select');
                    s2element.select2('open');
                    // Set focus back to select2 element on closing.
                    s2element.on('select2:closing', function (e) {
                        s2element.select2('focus');
                    });
                }
            });

            $(document).on("select2-open", function () {
                $(this).select2('positionDropdown', true);
            });

        }
        catch (e) {
            console.log(e.message);
        }
        try {
            if ($('#SaleInvoiceForm #IsDocLocked').val() == "False" && $('#SaleInvoiceForm #IsUpdate').val() == "True") {
                $('#btnUpload').attr("disabled", "disabled")
                $('#btnUpload').attr("title", "Document Locked");
                $('#btnUpload').prop("onclick", null);
                $('#btnUpload').css("background", "#b2aca4");
                $('#btnCancel').attr("disabled", "disabled")
                $('#btnCancel').attr("title", "Document Locked");
                $('#btnCancel').prop("onclick", null);
                $('#btnCancel').css("background", "#b2aca4");
                $('#btnSelect').attr("disabled", "disabled")
                $('#btnSelect').attr("title", "Document Locked");
                $('#btnSelect').prop("onclick", null);
                $('#btnSelect').css("background", "#b2aca4");
            }
        }
        catch (e) {
            console.log(e.message);
        }
    });
</script>
