@model PilotSmithApp.UserInterface.Models.EnquiryViewModel
@using (Ajax.BeginForm("InsertUpdateEnquiry", "Enquiry", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccessEnquiry", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "OnServerCallBegin", OnComplete = "OnServerCallComplete" }, new { @class = "form-horizontal", role = "form", @id = "EnquiryForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IsUpdate, htmlAttributes: new { @class = "" })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "" })
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">General Details</div>
            <div class="form-group col-md-6">
                <div class="col-md-6 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.EnquiryNo, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.EnquiryNo, new { htmlAttributes = new { @class = "form-control newinput", @autofocus = true ,@readonly="readonly"} })
                        @Html.ValidationMessageFor(model => model.EnquiryNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.EnquiryDateFormatted, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.EnquiryDateFormatted, new { htmlAttributes = new { @class = "form-control newinput datepicker", @autofocus = true } })
                        @Html.ValidationMessageFor(model => model.EnquiryDateFormatted, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12" id="divCustomerSelectList">
                        @Html.Action("CustomerSelectList", "Customer", new { required = "required" })
                        
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.RequirementSpec, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.RequirementSpec, 5, 0, new { @class = "form-control BlockEnter newinput" })
                        @Html.ValidationMessageFor(model => model.RequirementSpec, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">Enquiry Details</div>
            <div class="col-md-12">
                <table id="tblEnquiryDetails" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr class="text-center TableHead">
                            <th>ID</th>
                            <th>ProductID</th>
                            <th>Product Code</th>
                            <th>Old Product Code</th>
                            <th>Rate</th>
                            <th>Tax Percentage</th>
                            <th>Description</th>
                            <th>...</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-11 divbox1">
        <div class="col-md-12 divbox2">
            <div class="col-md-12 headSeperator">Status & Other details</div>
            <div class="form-group col-md-12">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.BranchCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        <div id="divBranchSelectList">
                            @Html.Action("BranchSelectList", "Branch",new {required="required" })
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
                <div class="" hidden="hidden">
                    <div class="col-md-offset-2 col-md-10" >
                        <input id="btnInsertUpdateEnquiry" type="submit" value="Create" class="btn btn-default" />
                        <input id="btnResetEnquiry" type="reset" />
                    </div>
                </div>
                }
                <script>
                    $(document).ready(function () {
                        $.validator.unobtrusive.parse("#EnquiryForm");
                        $('input.datepicker').datepicker({
                            format: "dd-M-yyyy",//",
                            maxViewMode: 0,
                            todayBtn: "linked",
                            clearBtn: true,
                            autoclose: true,
                            todayHighlight: true
                        });
                    });
                </script>
