@model PilotSmithApp.UserInterface.Models.EnquiryViewModel
@using (Ajax.BeginForm("InsertUpdateEnquiry", "Enquiry", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form", @id = "EnquiryForm" }))
{
    @Html.Hidden("BindValue", "", htmlAttributes: new { @class = "", Value = ViewBag.value });
    @Html.AntiForgeryToken()

    @*<div class="form-group col-md-12">*@

    <div class="col-md-8">
        <div class="form-group col-md-6">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @Value = Guid.Empty })
                @Html.HiddenFor(model => model.hdnFileID, htmlAttributes: new { @class = "", @id = "hdnFileDupID", @value = Guid.Empty })
                @Html.LabelFor(model => model.EnquiryDate, htmlAttributes: new { @class = "control-label " })
            </div>
            <div class="col-md-12">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.EnquiryDate, new { htmlAttributes = new { @class = "form-control HeaderBox datepicker", @id = "EnquiryDate", @autofocus = true } })
                    @Html.ValidationMessageFor(model => model.EnquiryDate, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1 mandatory"></div>
                <div class="col-md-1"></div>
            </div>

        </div>

        <div class="form-group col-md-6">
            <div class="col-md-12">

                @Html.LabelFor(model => model.EnquiryOwnerID, htmlAttributes: new { @class = "control-label" })


            </div>
            <div class="col-md-12">

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.EnquiryOwnerID, Model.salesPersonObj.SalesPersonList, "-- Select Sales Person --", new { @class = "form-control", style = "padding:4px 12px;", @id = "ddlSalesPerson" })
                    @Html.ValidationMessageFor(model => model.EnquiryOwnerID, "", new { @class = "text-danger" })


                </div>
                <div class="col-md-1 mandatory"></div>
                <div class="col-md-1"></div>
            </div>

        </div>

        <div class="form-group col-md-12"></div>
        <div class="form-group col-md-6">
            <div class="form-group col-md-4">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ContactTitle, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-12">
                    <div class="col-md-12" style="padding-right:0px">
                        @Html.DropDownListFor(model => model.ContactTitle, Model.titleObj.TitleList, new { @class = "form-control", @id = "ddlTitle" })
                        @Html.ValidationMessageFor(model => model.ContactTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-8">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-12">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control HeaderBox", @id = "ContactName" } })
                        @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1 mandatory"></div>
                </div>

            </div>
        </div>


        <div class="form-group col-md-6">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label " })


            </div>
            <div class="col-md-12">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control HeaderBox", @id = "CompanyName" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1 mandatory"></div>
                <div class="col-md-1"></div>
            </div>

        </div>

        <div class="form-group col-md-12"></div>
        <div class="form-group col-md-6">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
            </div>
            <div class="col-md-12">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @id = "Mobile" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1 mandatory"></div>
            </div>

        </div>
        <div class="form-group col-md-12"></div>

        <div class="form-group col-md-12">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @rows = "5", @id = "Subject" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1 mandatory"></div>
            </div>
        </div>
    </div>
            <div class="col-md-4" id="CommonFigure" style="padding-top:2%;white-space:nowrap;">

                <div class="form-group col-md-12" style="box-shadow:0 1px 1px rgba(0,0,0,0.1);margin-left:4%;width:80%;">
                    <div class="col-md-12 text-right">
                        <div class="rightAmt" style="font-size:20px">Enquiry Status</div>
                        <div class="rightAmt" style="" id="lblEnquiryStatus"></div>
                    </div>
                </div>
                <div id="pointer" class="form-group col-md-12"></div>
            </div>
            <div class="col-md-4" id="flist" style="display:none;">
                <div class="col-md-12">

                    @{

                        @Url.Action("FollowUps", "Enquiry");
                    }

                </div>
            </div>
            <div class="col-md-12  ">&nbsp;</div>
                                <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12">
                                        <div class="col-md-12 headSeperator"><i class="fa fa-th ig-aqua" aria-hidden="true"></i> Item Details</div>

                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <div class="col-md-11">
                                                </div>
                                                <div class="col-md-1">
                                                    <a class="btn btn-openid" onclick="AddEnquiryList()" id="btnAddItems" style="color:white;font-weight:bold"><i class="glyphicon"></i>Add</a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <table id="ItemDetailsTable" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr class="text-center TableHead">
                                                            <th>ID</th>
                                                            <th>ProductID</th>
                                                            <th>Product Code</th>
                                                            <th>Old Product Code</th>
                                                            <th>Rate</th>
                                                            <th>Tax Percentage</th>
                                                            <th>Description</th>
                                                            <th>...</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.DetailJSON, htmlAttributes: new { @class = "" })

                                        <div class="col-md-12  ">&nbsp;</div>
                                        <div class="col-md-12  ">&nbsp;</div>

                                        <div class="form-group col-md-12">&nbsp;</div>
                                        <div class="col-md-12 headSeperator"><i class="fa fa-th ig-yellow" aria-hidden="true"></i> Status & Other Details</div>


                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.IndustryName, htmlAttributes: new { @class = "control-label " })
                                            </div>
                                            <div class="col-md-12">

                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.IndustryCode, Model.industryObj.IndustyList, "-- Select Industry Name --", new { @class = "form-control", style = "padding:4px 12px;", @id = "ddlIndustry" })
                                                    @Html.ValidationMessageFor(model => model.IndustryCode, "", new { @class = "text-danger" })

                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>

                                        @*<div class="form-group col-md-6">
                                                <div class="col-md-12">

                                                    @Html.LabelFor(model => model.ProgressStatus, htmlAttributes: new { @class = "control-label" })


                                                </div>
                                                <div class="col-md-12">

                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.ProgressStatus, Model.progressStatusObj.ProgressStatusList, "-- Select Progress --", new { @class = "form-control", style = "padding:4px 12px;", @id = "ddlProgressStatus" })
                                                        @Html.ValidationMessageFor(model => model.ProgressStatus, "", new { @class = "text-danger" })


                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-1"></div>
                                                </div>

                                            </div>*@

                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.EnquirySource, htmlAttributes: new { @class = "control-label " })


                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.EnquirySource, Model.enquirySourceObj.EnquirySourceList, "-- Select Source --", new { @class = "form-control", style = "padding:4px 12px;", @id = "ddlEnquirySource" })
                                                    @Html.ValidationMessageFor(model => model.EnquirySource, "", new { @class = "text-danger" })

                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1"></div>
                                            </div>
                                        </div>



                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">

                                                @Html.LabelFor(model => model.EnquiryStatus, htmlAttributes: new { @class = "control-label" })


                                            </div>
                                            <div class="col-md-12">

                                                <div class="col-md-10">

                                                    @Html.DropDownListFor(model => model.EnquiryStatus, Model.enquiryStatusObj.EnquiryStatusList, new { @class = "form-control", style = "padding:4px 12px;", @id = "ddlEnquiryStatus", @onchange = "ChangeEnquiryStatus();" })
                                                    @Html.ValidationMessageFor(model => model.EnquiryStatus, "", new { @class = "text-danger" })

                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>

                                        <div class="form-group col-md-12">&nbsp;</div>
                                        <div class="col-md-12 headSeperator"><i class="fa fa-th ig-yellow" aria-hidden="true"></i> Contact Details</div>

                                        <div class="form-group col-md-6">
                                            <div>
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                                                </div>
                                                <div class="col-md-12">

                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @rows = "4", @id = "Address" } })
                                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-12">

                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control HeaderBox", @id = "WebSite" } })
                                                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })


                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })


                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control HeaderBox", @id = "Email" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>


                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">

                                                @Html.LabelFor(model => model.LandLine, htmlAttributes: new { @class = "control-label" })


                                            </div>
                                            <div class="col-md-12">

                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.LandLine, new { htmlAttributes = new { @class = "form-control HeaderBox", onkeypress = "return isNumber(event)", @id = "LandLine" } })
                                                    @Html.ValidationMessageFor(model => model.LandLine, "", new { @class = "text-danger" })


                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })


                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control HeaderBox", @id = "Fax" } })
                                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>

                                        <div class="form-group col-md-12">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.GeneralNotes, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.GeneralNotes, new { htmlAttributes = new { @class = "form-control", @rows = "6", @id = "GeneralNotes" } })
                                                    @Html.ValidationMessageFor(model => model.GeneralNotes, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group col-md-12"></div>

                                    </div>

                                    @* border-left:1px solid #64e564; *@

                                    @* Follow-up list area start *@
                                    @*<div class="col-md-4" id="divAddFollowUp" style="display:none;">
                                            <input  value="Add Follow Ups" class="btn btn-default" data-toggle="tooltip"  onclick="FollowUp(1)" id="btnAddFollowup" />
                                        </div>*@

                                    @* Follow-up list area end *@

                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>

                                    <div class="container">

                                    </div>



                                    @*<div class="col-md-12 headSeperator"><i class="fa fa-th ig-green" aria-hidden="true"></i> Other Details</div>*@


                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>

                                    <div>
                                        @Html.Partial("Fileupload")
                                    </div>

                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>
                                    <div class="col-md-12  ">&nbsp;</div>






                                    <div class="">
                                        <div class="col-md-offset-2 col-md-10" hidden="hidden">
                                            <input id="btnInsertUpdateEnquiry" type="submit" value="Create" class="btn btn-default" />
                                            <input id="btnResetEnquiry" type="reset" />
                                        </div>
                                    </div>
                        }
