@model PilotSmithApp.UserInterface.Models.EnquiryFollowupViewModel
@{
    ViewBag.Title = "Manage Access";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .pagination{
        margin:5px 0px;
    }
    .todo-list > li{
        background:#ffffff;
        border-left:none;
    }
    .box-footer
    {
        background-color:transparent;
    }
    /*.round-button {
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
    }
    .round-button:hover{
        width:38px;
        height:38px;
    }*/
    .round-button {
    display:block;
    width:35px;
    height:35px;
    line-height:25px;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none!important;
    background: #dd9546;
    box-shadow:0 0 9px #6f6f6f;
    font-size:33px;
    font-weight:bold;
    }
    .box{
        border:5px solid #efefef;
    }
.round-button:hover {
    background: #dd9546;
    color:white;
}
.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
</style>

    <div class="col-md-5">
        <div class="box box-success" style="position: relative; left: 0px; top: 0px;">
            <div class="box-header ui-sortable-handle">
                <i class="fa fa-list"></i>

                <h3 class="box-title">Followup List</h3>

                <div class="box-tools pull-right">
                    @if (Model.TotalCount > 4)
                    {
                        <ul class="pagination pagination-sm inline">
                            <li><a href="#">«</a></li>
                            @{var pager = Math.Round((decimal)Model.TotalCount / 4);
                                for (int i = 1; i <= pager; i++)
                                {
                                    <li><a href="#">@i</a></li>
                                }
                            }
                            <li><a href="#">»</a></li>
                        </ul>
                                }
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                @if (Model.EnquiryFollowupList.Count > 0)
                {
                    <ul class="todo-list ui-sortable">
                        @foreach (var enquiryVm in Model.EnquiryFollowupList)
                        {
                            <li style="border-bottom: 1px solid grey">
                                <!-- drag handle -->
                                <span class="ui-sortable-handle" style="font-size:14px;color:#4cff00;">
                                    <i class="fa fa-phone-volume"></i>
                                </span>
                                <span style="font-size:14px;-webkit-line-clamp: 1;text-overflow: ellipsis;">@enquiryVm.Subject</span>
                                <div class="col-lg-12" style="background-color:#4cff00"></div>
                                <!-- todo text -->
                                <span class="text">@enquiryVm.GeneralNotes</span>
                                <!-- Emphasis label -->
                                <small class="label label-success"><i class="fa fa-calendar"></i> @enquiryVm.FollowupDateFormatted</small>
                                <small class="label label-danger"><i class="fa fa-clock"></i> @enquiryVm.FollowupTimeFormatted</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash"></i>
                                </div>
                            </li>
                        }

                    </ul>
                }
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <div class="col-md-7">
                    @*<button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>*@
                    <a href="#" class="round-button pull-right">+</a>
                </div>
            </div>
        </div>
    </div>


